Repository iainelder/awsmr: changes, and which pre-commit hooks are due for each by the changed paths.
All: yamllint, black, isort

yamllint:
  name: yamllint
  entry: poetry run yamllint --strict
  language: system

black:
  name: black
  entry: poetry run black --diff
  language: system

isort:
  name: isort
  entry: poetry run isort --diff
  language: system

Add pre-commit to dev packages
  poetry.lock
  pyproject.toml
Due: none

Reformat code
  awsmr.py
Due: black, isort

Fix tests
  tests/test_multiregion.py
Due: black, isort

Add github workflow
  .github/workflows/test.yaml
Due: yamllint

Supress truthy rule in yamllint
  .yamllint.yaml
Due: yamllint

Use black profile in isort to avoid conflicts
  .pre-commit-config.yaml
Due: yamllint

Run unit tests in Github workflow
  .github/workflows/test.yaml
Due: yamllint

Add publish workflow
  .github/workflows/publish.yaml
  .gitignore
Due: yamllint

Set distinct name for workflow
  .github/workflows/publish.yaml
Due: yamllint

Remove repository arg to target PyPI
  .github/workflows/publish.yaml
Due: yamllint

Bump version for publishing
  pyproject.toml
Due: none

Add README
  README.md
Due: none

Add function to get the latest release
  get_latest_release.py
  poetry.lock
  pyproject.toml
  tests/test_get_latest_release.py
Due: black, isort

Remove unused import
  tests/test_get_latest_release.py
Due: black, isort

Add workflows
  .github/workflows/get-latest-release.yaml
  .github/workflows/publish.yaml
Due: yamllint

Reformat
  awsmr.py
Due: black, isort

Fix syntax for repo-scoped token
  .github/workflows/get-latest-release.yaml
Due: yamllint

Allow manual checks for latest release
  .github/workflows/get-latest-release.yaml
Due: yamllint

Fix workflow_dispatch syntax
  .github/workflows/get-latest-release.yaml
Due: yamllint

Install dependencies to fetch release version
  .github/workflows/get-latest-release.yaml
Due: yamllint

Run get_latest_release in virtualenv
  .github/workflows/get-latest-release.yaml
Due: yamllint

Add main entrypoint for get_latest_release
  get_latest_release.py
Due: black, isort

Write latest release to cwd
  get_latest_release.py
  tests/test_get_latest_release.py
Due: black, isort

docs/generating-a-repo-scoped-token.md
  docs/generating-a-repo-scoped-token.md
Due: none

Improve test class name
  tests/test_get_latest_release.py
Due: black, isort

Add unit tests to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Due: yamllint

Push release version if modified
  .github/workflows/get-latest-release.yaml
Due: yamllint

Path conditions:
  yamllint: any of: \.(yaml|yml)$
  black: any of: \.py$
  isort: any of: \.py$
